$orange: #FFC225;
$orangeDark: #FF872C;
$blue: #172860;
$black: #363F5F;
$gray: #999999;
$grayText: #8E8E8E;
$grayBorder: #DDDDDD;
$grayInput: rgba(178, 178, 178, 0.0409473);

$title: prem(30);
$titleSmall: prem(24);
$textLarge: prem(18);
$textMedium: prem(16);
$textSmall: prem(14);