$orange: #FFC225;
$orangeDark: #FF872C;
$blue: #172860;
$black: #363F5F;
$gray: #999999;
$grayText: #8E8E8E;
$grayBorder: #DDDDDD;
$grayInput: rgba(178, 178, 178, 0.0409473);

$title: 3.0rem;
$titleSmall: 2.4rem;
$textLarge: 1.8rem;
$textMedium: 1.6rem;
$textSmall: 1.4rem;