$orange: #ffc225;
$orangeDark: #ff872c;
$blue: #172860;
$black: #363f5f;
$gray: #999999;
$grayText: #8e8e8e;
$grayBorder: #dddddd;
$grayInput: rgba(178, 178, 178, 0.0409473);

$title: prem(30);
$titleSmall: prem(24);
$textLarge: prem(18);
$textMedium: prem(16);
$textSmall: prem(14);
